/* custom variables for the main code*/
:root {
  --main-white: #F0F0F0;
  --main-red: #E3371E;
  --main-gray: #166273;
  --main-black: #151F30;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}


body {
  font-family: cursive;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1,
h2 {
  font-family: cursive;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

/*
p {
  font-family: monospace;
  font-weight: 1000;
  text-align: center;
  color: var(--main-red);
}

a {
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  color: var(--main-blue);
}
*/

a {
  text-decoration: none;
  color: var(--main-white);
}

/* nav bar at the top*/

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: var(--main-black);
}
/*
header-scrolled {
  opacity: 0.5;
}
*/
.logo {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: auto;
  object-fit: contain;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 0.5rem;
}

.logo-image {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 75px;
  border-radius: 50%;
}

.logo-name {
  width: inherit;
  font-size: 2.5rem;
}

/*
.nav a:active {
  background-color: #2196F3;
}
*/
@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }

}

@media screen and (max-width: 768px) {
  .header {
    position: relative;
  }

  .nav-list {
    display: grid;
    grid-template-columns: auto;
    background:red;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  #logo {
    margin: 20px;
  }

  .nav-list.active {
    background: gray;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: red;
    color: white;
    transition: all 0.4s ease-out;
  }

  .header {
    width: 100%;
  }

  .nav-links-btn {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: gray;
    color: white;
    transition: all 0.4s ease-out;
  }

  .nav-links-btn:hover {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: red;
    color: white;
    transition: all 0.4s ease-out;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.nav-list a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
  text-transform: uppercase;
}

.nav-list a:hover {
  background: var(--main-gray);
  border-radius: 50px;
  transition: all 0.3s linear;
}

.search-bar {
  display: flex;
  font-size: 20px;
}

.search-bar-input {
  border: 0.2em solid #eee;
  border-radius: 0.5em 0 0 0.5em;
  padding: 0.2em 0.5em;
  outline: 0;
  font-size: inherit;
}

.search-bar-input:hover,
.search-bar-input:focus {
  border-color: #ccc;
}
.search-bar-button {
  border: 0.2em solid #eee;
  border-radius: 0 0.5em 0.5em 0;
  border-left: 0.5;
  padding: 0 0.5em;
  cursor: pointer;
  font-size: inherit;
}

.search-bar-button:hover {
  border-color: #ccc;
  background: #ccc;
}


/* about section */
.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-black);
}

.home-section > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-white);
}


/* projects section*/
.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-black);
}

.projects-section ul {
    list-style: initial;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

.vertical-line {
  border-left: 6px solid white;
  height: 500px;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-white);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: var(--main-gray)
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project.title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: 0.3s ease-out;
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
/* contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-black);
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
  color: #166273;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}


/*footer*/
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-black);
  border-top: 2px solid var(--main-gray);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
